  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #F2F2F2;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background: #0a2654;
    width: 70px;
    box-shadow: 10px 0 0 #011029;
    border-left: 10px solid #0a2654;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover {
    width: 170px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 3px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}


.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: unset;
    z-index: 1;
}

.navigation ul li.active {
    background: #011029;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #0a2654;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #011029;

}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #0a2654;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #011029;

}

.out{
    position: absolute;
    bottom: 2rem;
}




.foto {
    display: flex;
    flex-direction: column;
    width: 290px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    left: 40%;
    margin: 0;
    top: 15px;
    font-size: 15px;
}


.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-itens {
    width: 60vw;
    height: 80vh;
    display: flex;
    margin-left: 20px;
    align-items: flex-start;
}

.card-itens-left {
    width: 30%;
    height: 100vh;
}

.card-itens-right {
    width: 30%;
    height: 100vh;
}

.item {
    width: 95%;
    height: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(233, 223, 223);
    border-radius: 15px;
}

.item-list {
    width: 25%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin-right: 2rem;
    font-family: 
}

.lista{
    color:#2E3559;
    font-weight: 700;
    position: absolute;
    top: 1rem;
    left: 1rem;
    
}

.item-list-final{
    width: 90%;
    position: absolute;
    top: 4rem;
    left: 1rem;

}

.item-list-card{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.item-list-final-image{
    width: 4rem;
    height: 4rem;
    background-color: #0a2654;
    border-radius: 15px;
    margin-left: 1rem;
}

.name-product{
    position: absolute;
    top: 1rem;
    left: 6rem;
    font-weight: 700;
}

.item-qnt{
    position: absolute;
    bottom: 1rem;
    left: 6rem;
    font-weight: 400;
}

.final-price{
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-weight: 400;
}

.sale-summary{
    width: 100%;
    height: 35%;
    background-color: blue;
    position: absolute;
    bottom: 0;
}


.item-menu {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.search-bar input {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-style: solid;
    outline: none;
    padding: 10px;
}