  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #F2F2F2;
}

.foto {
    display: flex;
    flex-direction: column;
    width: 290px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    left: 40%;
    margin: 0;
    top: 15px;
    font-size: 15px;
}


.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-menu {
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10rem;
}


.card-itens {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.card-itens li{
    list-style: none;
    display: flex;
}

.item {
    width: 40%;
    height: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10%;
    background-color: #FFFFFF;
    border-radius: 13px;
    padding: 10px;
}

#left-side{
    width: 55%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #C7C6C6;

}

#left-side h1{
    font-size: 1rem;
    font-weight: 700;
}

#left-side h2{
    font-size: 1rem;
    font-weight: 400;
}

.product-price-bottom{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: 700;
    color: #2E3559;
}

#right-side{
    width: 45%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-side-top{
    width: 100%;
    height: 65%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.product-image{
    width: 90%;
    height: 100%;
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
}

.button-qnt{
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #4B5274;
    color: #FFFFFF;
}

.button-qnt span{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.search-bar{
    position: relative;
    width: 25vw;
    height: 3rem;
    display: flex;
    align-items: center;

}

.search-bar input {
    width: 85%;
    height: 30px;
    border-radius: 20px;
    border-style: solid;
    outline: none;
    padding: 10px;
    border: none;
}

#search-icon{
    position: absolute;
    right: 4rem;
}

#filter-icon{
    right: 0;
    margin-left: 3px;
}

.item-list {
    width: 25%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin-right: 2rem;
}

.lista{
    color:#2E3559;
    font-weight: 700;
    position: absolute;
    top: 1rem;
    left: 1rem;
    
}

.item-list-final{
    width: 90%;
    position: relative;
    top: 4rem;
    left: 1rem;

}

.item-list-card{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.final-price{
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-weight: 400;
}

.total-price{
    position: absolute;
    bottom: 0;
}

.sale-summary{
    width: 100%;
    height: 35%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    border:transparent;
    border-top: #C7C6C6;
    border-width: 1px;
    border-style: solid;
}

@media screen and (min-width: 1920px){

.item{
    width: 35%;
    height: 20%;
}

    }


